/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-family: 'Roboto';
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.content{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 600px;
    background: url('https://upload.cc/i1/2021/07/10/tVWRDP.png')no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about,.work_experience,.myBrand,.otherWork,.contact{
    text-align: center;
}
.title_and_linker{
    color: white;
    width: 304px;
}
.header.title_and_linker h3{
    text-align-last: left;
    font-size: 24px;
    line-height: 42px;
}
.title_and_linker h1{
    font-size: 80px;
    line-height: 106px;
    padding-bottom: 32px;
}
.title_and_linker h2{
    font-size: 24px;
    line-height: 36px;
    padding-bottom: 40px;
}
.linker{
    display: flex;
    justify-content: space-between;
}
.about,.myBrand,.otherWork,.contact{
    padding: 56px 0 28px 0;
}
.about{
    width: 412px;
    margin: 0 auto;
    font-weight: bold;
}
.about_title,.myBrand h2,.otherWork h2,.contact h2{
    font-size: 64px;
    line-height: 84px;
}
.about img{
    margin: 0 auto;
    padding-top:40px;
    padding-bottom: 20px;
}
.about ul li h2{
    font-size: 24px;
    line-height: 42px;
    display: inline-block;
}
.profile li{
    padding-bottom: 4px;
}
.profile{
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}
.profile li p{
    font-size: 24px;
    line-height: 36px;
}
.work_experience li::before{
    content:'';
    background-color:#891818;
    display: inline-block;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    margin-right: 16px;
    vertical-align: middle;       
}
.myBrand,.contact{
    background: #000;
    color: #fff;
}
.myBrand h3{
    font-size: 24px;
    line-height: 42px;
    padding-top: 17px;
}
.myBrand p{
    padding-top: 18px;
    font-size: 20px;
    line-height: 30px;
}
.myBrand_picture img{
    padding-top: 63px;
    width: 60%;
}
.buttom_sitd_by_side_pictrue{
    padding-top: 40px;
}
.buttom_sitd_by_side_pictrue img{
    width: 45%;
    padding: 0 12px 0 12px;
}
.otherWork h3{
    padding-bottom: 28px;
}
.otherWork ul{
    padding: 28px 0 96px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.otherWork ul li h3{
    padding: 16px 0 48px 0 ;
}
.otherWork img{
    width: 100%;
}
.three_in_row{
    width: 32%;
}
.side_by_side{
    width: 49%;
}
.contact a{
    text-decoration: none;
    color: #fff;
}
.contact a:hover{
    color: red;
}
.contact ul{
    padding-bottom: 20px;
}
.contact li{
    padding: 16px;
}
.contact h2{
    padding-top: 12px;
}
.contact h3{
    font-size: 24px;
    line-height: 36px;
}